.header {
    display: flex;
    flex-direction: column;
}

.header__top {
    background-color: #1C1C1C;
    display: none;
    gap: 19px;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.header__top--is-visible {
    display: flex;
}

.header__top-text {
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: -0.01em;
}

.header__top-btn {
    background-color: transparent;
}

.header__wrapper {
    display: flex;
    background: linear-gradient(90deg, #FEDD2C 0%, #F9C201 100%);
    padding: 20px 64px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 1316px;
}

.header__logo-link {
    display: flex;
}

.header__contacts {
    display: flex;
    gap: 64px;
    align-items: center;
    width: 380px;
    justify-content: space-between;
}

.header__contacts-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__tel {
    font-weight: 600;
    font-size: 18px;
    color: #555555;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 0.2s ease-in;
}

.header__tel:hover,
.header__tel:focus-visible {
    color: #1C1C1C;
    outline: none;
}

.header__accepting-orders {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.header__action {
    display: flex;
    gap: 15px;
}

.header__action-btn {
    border-radius: 16px;
    padding: 10px 15px;
    border: 2px solid #1C1C1C;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.header__action-btn:hover,
.header__action-btn:focus-visible {
    background-color: #1C1C1C;
    outline: none;
}

.header__action-btn:hover .header__action-icon,
.header__action-btn:focus-visible .header__action-icon {
    color: #ffffff;
}

.header__action-btn--basket {
    background-color: #1C1C1C;
    transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
}

.header__action-btn--basket:hover,
.header__action-btn--basket:focus-visible {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.header__action-btn--basket .header__action-icon {
    color: #ffffff;
}

.header__action-btn--basket:hover .header__action-icon,
.header__action-btn--basket:focus-visible .header__action-icon {
    color: #1C1C1C;
}

.header__action-icon {
    color: #1C1C1C;
    transition: color 0.2s ease-in;
}