.main-nav__list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    width: 423px;
    width: 100%;
    line-height: 24px;
}

.main-nav__link {
    font-weight: 600;
    color: #555555;
}