.menu__wrapper {
    padding: 32px 0;
}

.menu__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 32px 0;
    color: #1c1c1c;
}

.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.menu__card {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    min-width: 304px;
    min-height: 304px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 16px;
    display: flex;
    align-items: flex-end;
    aspect-ratio: 1 / 1;
}

.menu__card--pizza {
    background-image: url(./../../images/menu-card-pizza.jpg);
}

.menu__card--soup {
    background-image: url(./../../images/menu-card-soup.jpg);
}

.menu__card--hot-dishes {
    background-image: url(./../../images/menu-card-hot-dishes.jpg);
}

.menu__card--salad {
    background-image: url(./../../images/menu-card-salad.jpg);
}

.menu__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.menu__card-title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    z-index: 1;
}